In [3]:
import pandas as pd
#Assign data
data={'Name':['Sai','Yuvasri','Poovannan',
'Sabharish','Sangamithra','Rithika','Rubasri'],
'Age':[20,18,19,20,18,17,19],
'Gender':['M','F','M','M','F','F','F'],
'Marks':[90,76,'NaN',74,65,'NaN',71]}
#convert into datafram
df=pd.DataFrame(data)
#display data
print("Original DataFrame:\n",df)
#convert average
c=avg=0
for ele in df['Marks']:
    if str(ele).isnumeric():
        c+=1
        avg+=ele
        avg/=c
#Replace missing values
df=df.replace(to_replace="NaN",value=avg)
#Display data
print("\nReplacing NaN with average marks:\n",df)

Original DataFrame:
           Name  Age Gender Marks
0          Sai   20      M    90
1      Yuvasri   18      F    76
2    Poovannan   19      M   NaN
3    Sabharish   20      M    74
4  Sangamithra   18      F    65
5      Rithika   17      F   NaN
6      Rubasri   19      F    71

Replacing NaN with average marks:
           Name  Age Gender      Marks
0          Sai   20      M  90.000000
1      Yuvasri   18      F  76.000000
2    Poovannan   19      M  20.066667
3    Sabharish   20      M  74.000000
4  Sangamithra   18      F  65.000000
5      Rithika   17      F  20.066667
6      Rubasri   19      F  71.000000

In [4]:
#Filter top scoring students
df=df[df['Marks']>=75]

#Remove age row
df=df.drop(['Age'],axis=1)

#Display data
print("\nFiltering and Dropping func:\n",df)

Filtering and Dropping func:
       Name Gender  Marks
0      Sai      M   90.0
1  Yuvasri      F   76.0

In [5]:
one = pd.DataFrame({
'Name':['Sai','Sub','Poo','Yuvasri','Rithika'],
'subject_id':['sub1','sub2','sub4','sub6','sub5'],
'Marks_scored':[98,95,96,92,88]},
index=[1,2,3,4,5])
two=pd.DataFrame({
'Name':['Sanjay','Sangamithra','Rubasri','Nikesh','Somanath'],
'subject_id':['sub2','sub4','sub3','sub6','sub5'],
'Marks_scored':[86,95,87,99,91]},
index=[1,2,3,4,5])
print("\nOriginal DataFrame 1:\n",one)
print("\nOriginal DataFrame 2:\n",two)
print(pd.concat([one,two]))

Original DataFrame 1:
       Name subject_id  Marks_scored
1      Sai       sub1            98
2      Sub       sub2            95
3      Poo       sub4            96
4  Yuvasri       sub6            92
5  Rithika       sub5            88

Original DataFrame 2:
           Name subject_id  Marks_scored
1       Sanjay       sub2            86
2  Sangamithra       sub4            95
3      Rubasri       sub3            87
4       Nikesh       sub6            99
5     Somanath       sub5            91
          Name subject_id  Marks_scored
1          Sai       sub1            98
2          Sub       sub2            95
3          Poo       sub4            96
4      Yuvasri       sub6            92
5      Rithika       sub5            88
1       Sanjay       sub2            86
2  Sangamithra       sub4            95
3      Rubasri       sub3            87
4       Nikesh       sub6            99
5     Somanath       sub5            91

In [8]:
#data wrangling 3
import pandas as pd
car_selling_data ={'Brand':['Maruti','Maruti','Maruti','Maruti','Hyundai','Hyundai','Toyota','Mahindra','Mahindra','Ford','Toyota','Ford'],
'Year':[2010, 2011, 2009, 2013, 2010, 2011, 2011, 2010, 2013, 2010, 2010, 2011],
'Sold':[6, 7, 9, 8, 3, 5,2, 8, 7, 2, 4, 2]}

#Creating DataFrame for provided Data
df = pd. DataFrame(car_selling_data)
print("\nOriginal DataFrame:\n",df)

#Group the data when year= 2020
grouped = df.groupby('Year')
print("\nGroup by year 2010:\n",grouped.get_group(2010))

Original DataFrame:
        Brand  Year  Sold
0     Maruti  2010     6
1     Maruti  2011     7
2     Maruti  2009     9
3     Maruti  2013     8
4    Hyundai  2010     3
5    Hyundai  2011     5
6     Toyota  2011     2
7   Mahindra  2010     8
8   Mahindra  2013     7
9       Ford  2010     2
10    Toyota  2010     4
11      Ford  2011     2

Group by year 2010:
        Brand  Year  Sold
0     Maruti  2010     6
4    Hyundai  2010     3
7   Mahindra  2010     8
9       Ford  2010     2
10    Toyota  2010     4

In [9]:
#initializing Data
student_data = {'Name': ['Amit', 'Praveen', 'Jagadesh','Rahul', 'Vishal', 'Suraj','Rishab', 'Sathish',
'Amit','Rahul', 'Praveen', 'Amit'],
'Roll_no': [23,54,29,36,23,38,12,45,34,36,54,23],
'Email': ['xxxx@gmail.com', 'xxxxxx@gmail.com','xxxxxx@gmail.com','xx@gmail.com',
'xxxx@gmail.com', 'xxxxx@gmail.com','xxxxx@gmail.com', 'xxxxx@gmail.com',
'xxxxx@gmail.com', 'xxxxxx@gmail.com','xxxxxxxxxx@gmail.com',
'xxxxxxxxxx@gmail.com']}

#Creating dataframe
df=pd.DataFrame(student_data)
print("\nOriginal DataFrame:\n",df)
#Here df.duplicated() list duplicate entrines in rollno.
#so that (NOT) is placed in order to get non duplicate values.
non_duplicate = df[~df.duplicated('Roll_no')]
#printing non duplicate values.

print("\nRemoved duplicated rows:\n",non_duplicate)

Original DataFrame:
         Name  Roll_no                 Email
0       Amit       23        xxxx@gmail.com
1    Praveen       54      xxxxxx@gmail.com
2   Jagadesh       29      xxxxxx@gmail.com
3      Rahul       36          xx@gmail.com
4     Vishal       23        xxxx@gmail.com
5      Suraj       38       xxxxx@gmail.com
6     Rishab       12       xxxxx@gmail.com
7    Sathish       45       xxxxx@gmail.com
8       Amit       34       xxxxx@gmail.com
9      Rahul       36      xxxxxx@gmail.com
10   Praveen       54  xxxxxxxxxx@gmail.com
11      Amit       23  xxxxxxxxxx@gmail.com

Removed duplicated rows:
        Name  Roll_no             Email
0      Amit       23    xxxx@gmail.com
1   Praveen       54  xxxxxx@gmail.com
2  Jagadesh       29  xxxxxx@gmail.com
3     Rahul       36      xx@gmail.com
5     Suraj       38   xxxxx@gmail.com
6    Rishab       12   xxxxx@gmail.com
7   Sathish       45   xxxxx@gmail.com
8      Amit       34   xxxxx@gmail.com

In [10]:
#creating datafram
details=pd.DataFrame({'ID':[101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'NAME':['Arun', 'Praveen', 'Harish','Pooja', 'Rahul', 'Naresh','Saurabh','Anush','Dinesh',
'Mohit'],

'BRANCH':['Mech', 'Mech', 'CSE', 'CSE', 'CSE', 'EEE','EEE', 'ECE', 'ECE', 'IT']})
print("\nOriginal DataFrame 1:\n", details)
#creating datafram
fees_status=pd.DataFrame ({'ID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
'PENDING': ['5000', '250', 'NIL', '9000', '15000', 'NIL', '4500', '1800', '250', 'NIL']})
print("\nOriginal DataFrame:\n", fees_status)
#mergind dataframe
print("\nMerged Dataframe\n",pd.merge(details,fees_status,on='ID'))

Original DataFrame 1:
     ID     NAME BRANCH
0  101     Arun   Mech
1  102  Praveen   Mech
2  103   Harish    CSE
3  104    Pooja    CSE
4  105    Rahul    CSE
5  106   Naresh    EEE
6  107  Saurabh    EEE
7  108    Anush    ECE
8  109   Dinesh    ECE
9  110    Mohit     IT

Original DataFrame:
     ID PENDING
0  101    5000
1  102     250
2  103     NIL
3  104    9000
4  105   15000
5  106     NIL
6  107    4500
7  108    1800
8  109     250
9  110     NIL

Merged Dataframe
     ID     NAME BRANCH PENDING
0  101     Arun   Mech    5000
1  102  Praveen   Mech     250
2  103   Harish    CSE     NIL
3  104    Pooja    CSE    9000
4  105    Rahul    CSE   15000
5  106   Naresh    EEE     NIL
6  107  Saurabh    EEE    4500
7  108    Anush    ECE    1800
8  109   Dinesh    ECE     250
9  110    Mohit     IT     NIL