In [2]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame with NaN\n",df)
print("\n")
print("Dropped DataFrame\n",df.dropna())
print("\n")

Original DataFrame with NaN
         one       two     three
a -0.428944  0.736274  0.602744
b  0.030003 -0.290307 -1.631629
c       NaN       NaN       NaN
d -1.892819 -1.263951  0.040385
e       NaN       NaN       NaN
f -0.918565 -0.261327  0.546235


Dropped DataFrame
         one       two     three
a -0.428944  0.736274  0.602744
b  0.030003 -0.290307 -1.631629
d -1.892819 -1.263951  0.040385
f -0.918565 -0.261327  0.546235

In [3]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c'])
print("Original DataFrame with NaN\n",df)
print("\n")
print("NaN replaced with '0':\n")
print(df.fillna(0))

Original DataFrame with NaN
         one      two     three
a -1.230981  0.49722  2.237056
b -1.964916  0.89554  1.619396
c       NaN      NaN       NaN


NaN replaced with '0':

        one      two     three
a -1.230981  0.49722  2.237056
b -1.964916  0.89554  1.619396
c  0.000000  0.00000  0.000000

In [4]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame with NaN\n",df)
print("\n with NaN_with true fill:\n")
print(df['one'].isnull())

Original DataFrame with NaN
         one       two     three
a  0.291759 -0.881601  2.786233
b -0.021547 -1.256181 -1.098127
c       NaN       NaN       NaN
d -0.560476 -1.151358  0.164955
e       NaN       NaN       NaN
f -0.369814  2.432735  0.039871

 with NaN_with true fill:

a    False
b    False
c     True
d    False
e     True
f    False
Name: one, dtype: bool

In [5]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame with NaN\n",df)
print("\nNaN_filled with BackgroundValues:\n")
print(df.fillna(method='bfill'))

Original DataFrame with NaN
         one       two     three
a -0.852060 -2.204398 -0.580990
b  0.086189 -1.419426  0.985704
c       NaN       NaN       NaN
d -0.108930  1.396588  1.062416
e       NaN       NaN       NaN
f  0.691600 -2.891778  1.683596

NaN_filled with BackgroundValues:

        one       two     three
a -0.852060 -2.204398 -0.580990
b  0.086189 -1.419426  0.985704
c -0.108930  1.396588  1.062416
d -0.108930  1.396588  1.062416
e  0.691600 -2.891778  1.683596
f  0.691600 -2.891778  1.683596

In [6]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame with NaN\n",df)
print("\nNaN_filled with BackgroundValues:\n")
print(df.fillna(method='ffill'))

Original DataFrame with NaN
         one       two     three
a  0.272332 -0.388168  0.557475
b  1.687164 -0.905568  0.772365
c       NaN       NaN       NaN
d  1.062304 -1.093500  0.758524
e       NaN       NaN       NaN
f  1.707877 -0.827725  1.387277

NaN_filled with BackgroundValues:

        one       two     three
a  0.272332 -0.388168  0.557475
b  1.687164 -0.905568  0.772365
c  1.687164 -0.905568  0.772365
d  1.062304 -1.093500  0.758524
e  1.062304 -1.093500  0.758524
f  1.707877 -0.827725  1.387277

In [7]:
df=pd.DataFrame({'one':[10,20,80,40,50],'two':[60,70,80,0,10]})
print("Original DataFrame:\n",df)
print("\nDataFrame with replaced values:\n")
print(df.replace({10:5,80:30}))

Original DataFrame:
    one  two
0   10   60
1   20   70
2   80   80
3   40    0
4   50   10

DataFrame with replaced values:

   one  two
0    5   60
1   20   70
2   30   30
3   40    0
4   50    5