In [6]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/230901059 pandas.csv")
print(d)

   S.NO First Name  Gender Login Time  Salary  Bonus(%)   Department  \
0     1    Abinaya  Female       9:00  20,000      1000           HR
1     2      Madhu  Female       9:30  13,000      1200  coordinator
2     3    sarathi    male       8:30   25000      2000           HR
3     4   Raghavee  female       9:00   30000      1500           HR
4     5    Senthil    Male       9:45   15000      1500  coordinator
5     6     Ramesh    Male      10:00   25000      2000  coordinator
6     7    Kavitha  female       9:30   20000      1500  coordinator
7     8    Mithali  female      10:10   18000      1000           HR
8     9    Harshaw    Male      10:00   15000      2000           HR
9    10    Mathosh    Male      10:00   15000      1500           HR

  Designation
0      member
1      member
2          TL
3     Manager
4          TL
5     Manager
6      member
7      member
8      member
9      member

In [7]:
df=pd.DataFrame(d)
print("columns",df.columns)
print(df.shape)

columns Index(['S.NO', 'First Name', 'Gender', 'Login Time', 'Salary', 'Bonus(%)',
       'Department', 'Designation'],
      dtype='object')
(10, 8)

In [9]:
print("Department",df['Department'])

Department 0             HR
1    coordinator
2             HR
3             HR
4    coordinator
5    coordinator
6    coordinator
7             HR
8             HR
9             HR
Name: Department, dtype: object

In [11]:
print(df[5:9])

   S.NO First Name  Gender Login Time Salary  Bonus(%)   Department  \
5     6     Ramesh    Male      10:00  25000      2000  coordinator
6     7    Kavitha  female       9:30  20000      1500  coordinator
7     8    Mithali  female      10:10  18000      1000           HR
8     9    Harshaw    Male      10:00  15000      2000           HR

  Designation
5     Manager
6      member
7      member
8      member

In [12]:
print("Particular Person Details",df.loc[2])

Particular Person Details S.NO                 3
First Name     sarathi
Gender            male
Login Time        8:30
Salary           25000
Bonus(%)          2000
Department          HR
Designation         TL
Name: 2, dtype: object

In [14]:
print(d.loc[d['Salary']==1005000])

Empty DataFrame
Columns: [S.NO, First Name, Gender, Login Time, Salary, Bonus(%), Department, Designation]
Index: []

In [9]:
df=d['Salary']
print(df)

0    20,000
1    13,000
2     25000
3     30000
4     15000
5     25000
6     20000
7     18000
8     15000
9     15000
Name: Salary, dtype: object